/FAGNN_optimized/runs
/FAGNN_optimized/graphs
/FAGNN_optimized/models
/FAGNN_optimized/dataset
/FAGNN_optimized/node_embeddings
/FAGNN_optimized/interpretability
/SAGNN/runs
/SAGNN/models
/SAGNN/dataset
/SAGNN/node_transitions