/FAGNN_base/dataset
/FAGNN_base/runs
/FAGNN_base/graphs
/FAGNN_base/node_embeddings
/FAGNN_base/models
/FAGNN_optimized/dataset
/FAGNN_optimized/runs
/FAGNN_optimized/node_embeddings
/FAGNN_optimized/models
/SAGNN/dataset
/SAGNN/runs
/SAGNN/node_transitions
/SAGNN/models